@font-face {
    font-family: r;
    src: url(r.ttf);
  }

  @font-face {
    font-family: b;
    src: url(b.ttf);

  }

*{
    margin:0;
    padding:0;
    font-family: RB;
   }

   .container{
       min-height:100vh;
       display:flex;
       justify-content:center;
       align-items:center;
       background-image: url(bodyBg.png);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
   }
   
   .card{

       height:auto;
       width:400px;
       background-color:#fff;
       border-radius:10px;
       padding:10px 20px;
       margin: 20px;
   }

.hr {
  margin: 15px 0px 10px 0px;
}

.hrr {
  margin: 20px 0px 5px 0px;
}

.hrrr {
  margin: 0px 0px 5px 0px;
}
   
   .main{
       display:none;
   }
   .active{
       display:block !important;
   }
   .d-none{
       display:none !important;
   }
   
   h4 {
    color: #FFC60A;
   }
   
   .parent{
       margin-top:15px;
       margin-bottom:50px;
   }
   .card .top-div{
      display:flex;
      justify-content:center; 
      align-items:center;
   
   } 
   
   .top-div img{
       width: 144px;
       margin-right:7px;
   }

   .progress-bar{
    display:flex;
    list-style:none;
    counter-reset:container 0;
    margin-left: 5px;
    
}
.progress-bar li{
    display:flex;
    list-style:none;
    counter-increment:container 1;
    position:relative;
    margin-right:133px;
    margin-top:20px;
}
.progress-bar li::before{
    content:counter(container);
    position:absolute;
    height:25px;
    width:25px;
    border-radius:50%;
    border:1px solid #eef1f7;
    text-align:center;
    line-height:26px;
    z-index:10;
    background-color:#fff;

} 
.progress-bar li::after{
    content:'';
    position:absolute;
    height:2px;
    width:140px;
    background-color:#f5f7fa;
    top:12px;
    right:-10px;
}
.progress-bar li.active::before{
    background-color:#0051B2;
    border:none;
    color:#fff;
}
.progress-bar li.active::after{
    background-color:#FFC60A !important;
}



.progress-bar li:first-child:after{
    display:none;
}
   
   .content{

       text-align:center;

   }
   .content h2{
       font-size:22px;
       text-align: center;
   }
   .content p{
       font-size:14px;
       color:#231f20;
       font-family: b;
   }
   .input-text{
       position:relative;
       margin-top:30px;
   }
   input[type="text"] ,[type= "number"]{
       width:100%;
       height:40px;
       border:none;
       box-shadow:0px 5px 20px 2px rgba(0,0,0,0.1);
       outline:none;
       padding:0 10px;
       box-sizing:border-box;
       font-size:15px;       
       border-radius:5px;
       margin-top: 16px;
       text-align: right;
       color: #231f20;
       font-family: b;
       border-top: 1.8px solid #aaaaaa;
       border-right: 1.8px solid #aaaaaa;
       border-left: 1.8px solid #aaaaaa;
       border-bottom: 4px solid #aaaaaa;
       transition: 1s;
   }

   textarea {
    width:100%;
    height:150px;
    border:none;
    box-shadow:0px 5px 20px 2px rgba(0,0,0,0.1);
    outline:none;
    padding:0 10px;
    box-sizing:border-box;
    font-size:15px;
    border-radius:5px;
    margin-top: 16px;
    text-align: right;
    color: #231f20;
    font-family: b;
    border-top: 1.8px solid #aaaaaa;
    border-right: 1.8px solid #aaaaaa;
    border-left: 1.8px solid #aaaaaa;
    border-bottom: 4px solid #aaaaaa;
    transition: 1s;
   }

   input:focus, textarea:focus {
    outline: none;
    border-top: 1.8px solid #231f20;
    border-right: 1.8px solid #231f20;
    border-left: 1.8px solid #231f20;
    border-bottom: 4px solid #231f20;
  }

   .radio-text{
       display:flex;
       gap:20px;
   }
   input[type="radio"]{
     display:none;
   }
   .radio-text label{
       height:125px;
       width:100%;
       border:1px solid #edf1f6;
       border-radius:5px;
       padding:5px 10px;
       box-sizing:border-box;
       cursor:pointer;
   }
   .radio-text label h5{
       margin-top:10px;
       
   }
   .radio-text label p{
       font-size:12px; 
       margin-top:10px;
       font-weight:600;
       color:#99a1b2;
   }
   #radio-button-1:checked~.radio-button-1,
   #radio-button-2:checked~.radio-button-2 {
       border-color: #a89af0;
   }
   #radio-button-1:checked~.radio-button-1 i,
   #radio-button-2:checked~.radio-button-2 i{
       color:#0051B2;
   }
   
   
   
   .input-text span{
       position:absolute;
       right:0;
       top:0px;
       font-size:13px;
       background-color: white;
       color:#aaaaaa;
       font-family: r;
       
   }
   ::placeholder{
       color:#ccc;
   }
   
   .story {
    color: #231f20;
    font-family: r;
   }
   
   .warning{
       border-top: 1.8px solid #e74c3c !important;
       border-right: 1.8px solid #e74c3c !important;
       border-left: 1.8px solid #e74c3c !important;
       border-bottom: 4px solid #e74c3c !important;
   }
   
   .button{
       display:flex;
       justify-content:center;
       align-items:center;
   } 
   .button button{
       height:40px;
       width:220px;
       background-color:#f22808;
       font-size:16px;
       color:#fff;
       border-radius:5px;
       cursor:pointer;
       transition:all 0.5s;
       border: none;
       font-family: b;
       margin: 15px 0px 12px 0px;
   }
   .button button:hover{
       background-color:#bb1c0f;
   }
   .button_gap{
     
       gap:20px;
   }
   .button_gap1{

       gap:20px;
   }
   .launch{
       margin-top:75px;
   }
   
   .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 5;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
   
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 50px #7ac142;
    }
  }


  #con {
  margin-top:5px;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:15px;
  max-width:650px;
  margin-bottom: 10px;
   }

   #form-element {
    position:relative;
    width:90px;
    height:80px;
  }
  #form-element input {
    display:none;
  }
  #form-element label {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100%;
    cursor:pointer;
    border:2px solid rgb(245, 245, 245);
    box-shadow:0px 5px 20px 2px rgba(0,0,0,0.1);
    text-align:center;
    transition:all 200ms ease-in-out;
    border-radius:5px;
  }
  #form-element .icon {
    margin-top:-5px;
    font-size:30px;
    color:#0051B2;
    transition:all 200ms ease-in-out;
  }
  #form-element .title {
    font-size:15px;
    color:#0051B2;
    transition:all 200ms ease-in-out;
  }
  #form-element label:before {
    content:"✓";
    position:absolute;
    width:18px;
    height:18px;
    top:8px;
    left:8px;
    background:#FFC60A;
    color:#fff;
    text-align:center;
    line-height:18px;
    font-size:14px;
    font-weight:600;
    border-radius:50%;
    opacity:0;
    transform:scale(0.5);
    transition:all 200ms ease-in-out;
  }
  #form-element input:checked + label:before {
    opacity:1;
    transform:scale(1);
  }
  #form-element input:checked + label .icon {
    color:#FFC60A;
  }
  #form-element input:checked + label .title {
    color:#FFC60A;
  }
  #form-element input:checked + label {
    border:2px solid #FFC60A;
  }

  .title {
    color: #f22808;
    font-family: b;
    font-size: 27px;
  }

  .titleT {
    color: #231f20;
    font-family: r;
    font-size: 22px;
    text-align: center;
  }

  .titleT i {
    color: #f22808;
  }

  .finish {
    text-align: center;
    margin-top: 20px;
  }

  .twitter {
    height:40px;
    width:180px;
    background-color:#f22808;
    font-size:14px;
    color:#fff;
    border-radius:5px;
    cursor:pointer;
    transition:all 0.5s;
    border: none;
    margin-bottom: 20px;
    font-family: b;

  }

  .twitter:hover {
    background-color:#bb1c0f;
  }





   .con {

  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
  max-width:650px;
   }

   .form-element {
    position:relative;
    width:90px;
    height:100px;
  }
  .form-element input {
    display:none;
  }
  .form-element label {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100%;
    cursor:pointer;
    border:2px solid rgb(245, 245, 245);
    box-shadow:0px 5px 20px 2px rgba(0,0,0,0.1);
    text-align:center;
    transition:all 200ms ease-in-out;
    border-radius:5px;
  }
  .form-element .icon {
    margin-top:-5px;
    font-size:30px;
    color:#0051B2;
    transition:all 200ms ease-in-out;
  }
  .form-element .title {
    font-size:15px;
    color:#0051B2;
    transition:all 200ms ease-in-out;
  }
  .form-element label:before {
    content:"✓";
    position:absolute;
    width:18px;
    height:18px;
    top:8px;
    left:8px;
    background:#FFC60A;
    color:#fff;
    text-align:center;
    line-height:18px;
    font-size:14px;
    font-weight:600;
    border-radius:50%;
    opacity:0;
    transform:scale(0.5);
    transition:all 200ms ease-in-out;
  }
  .form-element input:checked + label:before {
    opacity:1;
    transform:scale(1);
  }
  .form-element input:checked + label .icon {
    color:#FFC60A;
  }
  .form-element input:checked + label .title {
    color:#FFC60A;
  }
  .form-element input:checked + label {
    border:2px solid #FFC60A;
  }

  .rating {
    background-color: rgb(0, 81, 178, 0.3);
    padding: 7px 5px 0px 5px;
    border-radius: 50px;
    box-shadow:0px 5px 20px 2px rgba(0,0,0,0.2);
  }
  
  label svg {
    fill: rgb(242, 242, 242);
    height: 32px;
    width: 32px;
    margin: 0px;
    padding: 0px 11.7px;
  }

  .wrapper{
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
  }
  .wrapper .option{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    height:50px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    border:2px solid rgb(245, 245, 245);
    box-shadow:0px 5px 20px 2px rgba(0,0,0,0.1);
    transition: all 0.7s ease;
  }

hr {
  width: 200px;
  margin: 0px auto;
}

  input[type="radio"]{
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
    border:2px solid #f22808;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span{
    font-size: 18px;
    color: #231f20;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: #f22808;
  }



#result {
  display: none;
}
